@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;0,700;1,200;1,700&display=swap');

body {
  font-family: 'Jost', sans-serif;
}

h1 {
  text-transform:capitalize;
}

p {
  font-weight:lighter;
  font-size:1.1rem;
}


.nav-item a {
  color: #000;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #66259c;
}

.my-name {
  font-size:2.5rem;
  animation:fade-in 900ms;
  margin-bottom:10px;
}

.social-heading {
  font-size:1.75rem;
  text-transform:capitalize;
}

@keyframes fade-in {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}

.hello-text {
  color:#000000;
  position:relative;
  font-size:20vw;
  animation:slide-up 1.5s;
}

@keyframes slide-up {
  from {
    transform:translateY(20vw);
  }
  to {
    transform:translateY(0);
  }
}

.blurb {
  font-size:1.5rem;
  font-weight:200;
}

.btn a{
  text-decoration:none;
  font-size:1.5rem;
  font-weight:400;
  text-transform:capitalize;
  color:#ffffff;
  padding:0.313rem 1.88rem;
  display:inline-block;  
}

.btn a:hover {
  color:#210f70;
  transition:color 400ms;
}

.see-more a{
  font-size:1.5rem;
  float:right;
  font-weight:400;
  text-decoration:none;
  color:#000;
  text-transform:capitalize;
  cursor:pointer;
}

.see-more a::after {
  content:'    \2192'
}

.see-more a:hover {
  color:#fff;
  transition:400ms;
  border:none;
  border-radius:1rem;
  background-color:rgb(231, 231, 231);
  padding: 0 10px;
}

.contact-description {
  display:flex;
  justify-content: center;
}

